html,body,header,#intro{
    height: 100%;
}

#intro{
    background: url(../img/Background.jpg) no-repeat center center fixed;
    background-size: cover;
}

.top-nav-collapse{
    background-color: black;
}

.wrap_images img 
{
    width: 100%;
    height: auto;
}

/*@media (max-width: 768px){
    .navbar:not(.top-nav-collapse) {
        background-color: black;
    }
}*/